body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(32, 32, 32);
    color: rgb(231, 231, 231);
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #111;
}

.cuerpo{
    position: absolute;
    top: 65px;
    bottom: 65px;
    left: 17px;
    right: 17px;
}

input{
    background-color: #333;
    color: white;
    padding: 5px;
}

textarea{
    background-color: #333;
    color: white;
    padding: 5px;
}

a{
    color: rgb(231, 231, 231);
    text-decoration: none;
}

.alinear{
    display: flex;
    flex-direction: row;
}

.margen{
    margin-right: 25px;
}

.color{
    color: #3b83bd;
}

.busqueda{
    margin-left: 45px; 
    padding-top: 8px;
}

.sombreado {
    padding: 10px;
    background-color: rgb(46, 46, 46);
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 80%;
    grid-column-gap: 50px;
}

button {
    transition-duration: 0.4s;
    border: none;
    color: #3b83bd;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}

button:hover {
    background-color: #3b83bd;
    color: white;
}