body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(32, 32, 32);
    color: rgb(231, 231, 231);
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #111;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.cuerpo{
    position: absolute;
    top: 65px;
    bottom: 65px;
    left: 17px;
}

input{
    background-color: #333;
    color: white;
    padding: 5px;
}

textarea{
    background-color: #333;
    color: white;
    padding: 5px;
}

a{
    color: rgb(231, 231, 231);
    text-decoration: none;
}

button{
    cursor: pointer;
}

.alinear{
    display: flex;
    flex-direction: row;
}

.imagen{
    margin-right: 25px;
}

.color{
    color: rgb(27, 174, 219);
}

h3{
    color: rgb(27, 174, 219);
}

.texto{
    width: 80%;

    white-space: nowrap;
    overflow: hidden;
    white-space: initial;
}