body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #246fa1;
}

.centrar{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form_inicio{
    padding: 30px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #ececec;
}

div input{
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

div input[type=submit]{
    width: auto;
    background-color: white;
}

/* Tablas */
TH {font-size: 10pt; font-weight: bold; color: white; background: #000000;; text-align: left; padding: 5px 10px;}
TD {font-size: 10pt; background: #ffffff; padding: 5px 10px;}
TD.derecha {font-size: 10pt; text-align: right; background: #FFFFFF;}
TD.izquierda {font-size: 10pt; text-align: left; background: #FFFFFF;}

.error {
    color: red;
}

.acierto {
    color: green;
}

a{
    color: #131313;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}